@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  color: #888888;
	height: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
}
a:hover {
	color: #ffaf53 !important;
}






/* NavBar (copiado y pegado del proyecto anterior) */
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}
.navbar .active {
	color: #ffaf53 !important;
}

.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}
.navbar .nav-item a {
	color: #ffffff;
	font-weight: 300;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.nav-link{
	padding-right: 15px;
    padding-left: 15px;
    -webkit-transition: padding 400ms ease;
    transition: padding 400ms ease;
    font-family: 'Muli', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #fff;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.nav-scroll {
	background: #fff;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .navbar-nav > li > a {
	color: #333;
}
.nav-scroll .navbar-brand img {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: #333;
}
.nav-scroll .nav-link:hover:after {
	background-color: #2388ed;
}
.nav-scroll .active {
	position: relative;
}
.logo-img{
	width: 160px;
	height: auto;
}
/* Fin de NavBar */







/* Footer (copiado y pegado del proyecto anterior) */
.vertical {
  border-left: 3px solid rgb(255, 255, 255);
  height: 200px;
  position:absolute;
 
}
.brand-top{
  width: 90px;
  height: auto;
}
.brand-footer{
  width: 60px;
  height: auto;
}

.footer-section{
 
  background: rgb(107,21,153);
  background: linear-gradient(90deg, rgb(107, 21, 153) 17%, rgba(251,152,137,1) 99%);
  padding-bottom: 6rem;
  padding-top: 3rem;
} 
.red-social{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
 margin-right: 1rem;
 margin-top: 1rem;
  overflow: clip;
  cursor:pointer;
}
/* Fin de Footer  */






/* Header subpaginas */
.header{
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.title-head{
  font-size: 60px;
  font-weight: bold;
}
.head{
padding: 0;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #fff;
text-align: center;
}
.contenedor{
width: 90% !important;
max-width: 1200px !important;
overflow: hidden !important;
margin: auto !important;
padding: 60px 0 !important;
}
/* Fin de Header subpaginas */





/* Header HomePage */
.header1{
  height: 90vh;
  display: inline-block;
 background-image:  linear-gradient(to top, rgba(50, 84, 168,0.404)0%,rgba(62, 50, 168,0.404)100%),url(./assets/img/headerimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.header2{
  height: 90vh;
  display: inline-block;
  background-image:  linear-gradient(to top, rgba(50, 84, 168,0.404)0%,rgba(62, 50, 168,0.404)100%),url(./assets/img/headerimage2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.header3{
  height: 90vh;
  display: inline-block;
 background-image:  linear-gradient(to top, rgba(50, 84, 168,0.404)0%,rgba(62, 50, 168,0.404)100%),url(./assets/img/headerimage3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.title-head{
  font-size: 60px;
  font-weight: bold;
}
.head{
padding: 0;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #fff;
text-align: center;
}
/* Fin Header HomePage */






/* ContactUs  */
.bg-section{
  background-color: #fafafa;
}
.contact_form{	
width: 460px; 
height: auto;
margin: 80px auto;
border-radius: 10px;  
padding-top: 17px;
padding-bottom: 3px;  
background-color: rgb(255, 255, 255); 
padding-left: 30px; 
-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.contact_form  {
  max-width: 100%;
}
.input{
  width: 30rem;
}
.css-button-gradient--1{
  width: 200px;
}
}

input{
background-color: #fbfbfb; 
width: 93%; 
height: 40px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #d8d8d8; 
margin-top: 1px;  
padding-left: 10px;
margin-bottom: 1px; 
}


textarea{
background-color: #fbfbfb; 
width: 93%; 
height: 150px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #d8d8d8; 
margin-top: 10px;  
padding-left: 10px;
margin-bottom: 20px; 
padding-top: 15px; 
}


label{
display: block; 
float: center; 	
}


.css-button-gradient--1 {
  padding-left: 5px;
padding-right: 5px; 
width: 93%; 
  margin-bottom: 20px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background: rgb(107,21,153);
background: linear-gradient(90deg, rgba(107,21,153,1) 0%, rgba(251,152,137,1) 100%);
}
.css-button-gradient--1:hover {
  background-position: right center;
}
.css-button-gradient--1:active {
  top: 2px;
} 

span{
color: #df92fe; 
}


.aviso{
font-size: 13px;  
color: #0e0e0e;  
}

::-webkit-input-placeholder {
color: #a8a8a8;
}


::-webkit-textarea-placeholder {
color: #a8a8a8;
}


.formulario input:focus{
outline:0;
border: 1px solid #97d848;
}


.formulario textarea:focus{
outline:0;
border: 1px solid #97d848;
}

/* Fin ContactUs */