@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
 
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  color: #888888;
	height: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
}
a:hover {
	color: #b600e4 !important;
}






/* NavBar (copiado y pegado del proyecto anterior) */
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}
.navbar .active {
	color: #ffaf53 !important;
}

.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}
.navbar .nav-item a {
	color: #ffffff;
	font-weight: 300;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.nav-link{
	padding-right: 15px;
    padding-left: 15px;
    -webkit-transition: padding 400ms ease;
    transition: padding 400ms ease;
    font-family: 'Muli', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #fff;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.nav-scroll {
	background: #fff;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .navbar-nav > li > a {
	color: #333;
}
.nav-scroll .navbar-brand img {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: #333;
}
.nav-scroll .nav-link:hover:after {
	background-color: #2388ed;
}
.nav-scroll .active {
	position: relative;
}
.logo-img{
	width: 160px;
	height: auto;
}
/* Fin de NavBar */







/* Footer (copiado y pegado del proyecto anterior) */
.vertical {
  border-left: 3px solid rgb(255, 255, 255);
  height: 200px;
  position:absolute;
 
}
.brand-top{
  width: 90px;
  height: auto;
}
.brand-footer{
  width: 60px;
  height: auto;
}

.footer-section{
 
  background: rgb(107,21,153);
  background: linear-gradient(90deg, rgb(107, 21, 153) 17%, rgba(251,152,137,1) 99%);
  padding-bottom: 6rem;
  padding-top: 3rem;
} 
.red-social{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
 margin-right: 1rem;
 margin-top: 1rem;
  overflow: clip;
  cursor:pointer;
}
/* Fin de Footer  */






/* Header subpaginas */
.header{
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.title-head{
  font-size: 60px;
  font-weight: bold;
}
.head{
padding: 0;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #fff;
text-align: center;
}
.contenedor{
width: 90% !important;
max-width: 1200px !important;
overflow: hidden !important;
margin: auto !important;
padding: 60px 0 !important;
}
/* Fin de Header subpaginas */





/* Header HomePage */
.header1{
  height: 90vh;
  display: inline-block;
 background-image:  linear-gradient(to top, rgba(50, 84, 168,0.404)0%,rgba(62, 50, 168,0.404)100%),url(./assets/img/headerimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.header2{
  height: 90vh;
  display: inline-block;
  background-image:  linear-gradient(to top, rgba(50, 84, 168,0.404)0%,rgba(62, 50, 168,0.404)100%),url(./assets/img/headerimage2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.header3{
  height: 90vh;
  display: inline-block;
 background-image:  linear-gradient(to top, rgba(50, 84, 168,0.404)0%,rgba(62, 50, 168,0.404)100%),url(./assets/img/headerimage3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.title-head{
  font-size: 60px;
  font-weight: bold;
}
.head{
padding: 0;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #fff;
text-align: center;
}
/* Fin Header HomePage */






/* ContactUs  */
.bg-section{
  background-color: #fafafa;
}
.contact_form{	
width: 460px; 
height: auto;
margin: 80px auto;
border-radius: 10px;  
padding-top: 17px;
padding-bottom: 3px;  
background-color: rgb(255, 255, 255); 
padding-left: 30px; 
-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.contact_form  {
  max-width: 100%;
}
.input{
  width: 30rem;
}
.css-button-gradient--1{
  width: 200px;
}
}

input{
background-color: #fbfbfb; 
width: 93%; 
height: 40px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #d8d8d8; 
margin-top: 1px;  
padding-left: 10px;
margin-bottom: 1px; 
}


textarea{
background-color: #fbfbfb; 
width: 93%; 
height: 150px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #d8d8d8; 
margin-top: 10px;  
padding-left: 10px;
margin-bottom: 20px; 
padding-top: 15px; 
}


label{
display: block; 
float: center; 	
}


.css-button-gradient--1 {
  padding-left: 5px;
padding-right: 5px; 
width: 93%; 
  margin-bottom: 20px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background: #6b1599;
background: linear-gradient(90deg, rgba(107,21,153,1) 0%, rgb(251, 152, 137) 100%);
}
.css-button-gradient--1:hover {
  background-position: right center;
}
.css-button-gradient--1:active {
  top: 2px;
} 

span{
color: #df92fe; 
}


.aviso{
font-size: 13px;  
color: #0e0e0e;  
}

::-webkit-input-placeholder {
color: #a8a8a8;
}


::-webkit-textarea-placeholder {
color: #a8a8a8;
}


.formulario input:focus{
outline:0;
border: 1px solid #97d848;
}


.formulario textarea:focus{
outline:0;
border: 1px solid #97d848;
}

/* Fin ContactUs */



/* Que Hacemos */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
  padding: 60px 0;
}

.sec-title .title{
font-family: 'Lato', sans-serif;
position: relative;
display: block;
font-size: 25px;
line-height: 24px;
color: #df92fe;
font-weight: 600;
margin-bottom: 15px;
}

.sec-title h2{
font-family: 'Lato', sans-serif;
position: relative;
display: block;
font-size:40px;
line-height: 1.28em;
color: #222222;
font-weight: 600;
padding-bottom:18px;
}

.sec-title h2:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
width:50px;
height:3px;
background-color:#d1d2d6;
}



.sec-title.light h2{
color: #ffffff;
}

.sec-title.text-center h2:before{
left:50%;
margin-left: -25px;
}

.about-section{
position: relative;
padding: 100px 0 70px;
}

.about-section .sec-title{
margin-bottom: 45px;
}

.about-section .content-column{
position: relative;
margin-bottom: 50px;
}

.about-section .content-column .inner-column{
position: relative;
padding-left: 30px;
}

.about-section .text-about{
margin-bottom: 40px;
font-size: 16px;
line-height: 26px;
color: #848484;
font-weight: 400;
}



.about-section .image-column{
position: relative;
}

.about-section .image-column .text-layer{
position: absolute;
right: -110px;
top: 50%;
font-size: 325px;
line-height: 1em;
color: #ffffff;
margin-top: -175px;
font-weight: 500;
}

.about-section .image-column .inner-column{
position: relative;
padding-left: 120px;
padding-bottom: 125px;
}

.about-section .image-column .inner-column:before{
position: absolute;
left: -75px;
top: 65px;
height: 520px;
width: 520px;
background-image:url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
content: "";
}

.about-section .image-column .image-1{
position: relative;
}

.about-section .image-column .image-2{
position: absolute;
left: 0;
bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img{
box-shadow: 0 30px 50px rgba(8,13,62,.15);
}

.about-section .image-column .video-link{
position: absolute;
left: 70px;
top: 170px;
}

.about-section .image-column .video-link .link{
position: relative;
display: block;
font-size: 22px;
color: #191e34;
font-weight: 400;
text-align: center;
height: 100px;
width: 100px;
line-height: 100px;
background-color: #ffffff;
border-radius: 50%;
box-shadow: 0 30px 50px rgba(8,13,62,.15);
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

.about-section .image-column .video-link .link:hover{
background-color: #191e34;
color: #fff;}


/* Como lo Hacemos */

.bg-gray {
  background-color: #f9f9f9;
}

.site-heading h2 {
display: block;
font-weight: 700;
margin-bottom: 10px;
text-transform: uppercase;
}

.site-heading h2 span {
color: #df92fe ;
}

.site-heading h4 {
display: inline-block;
padding-bottom: 20px;
position: relative;
text-transform: capitalize;
z-index: 1;
}

.site-heading h4::before {
background: #6666 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 2px;
left: 50%;
margin-left: -25px;
position: absolute;
width: 50px;
}

.site-heading {
margin-bottom: 60px;
overflow: hidden;
margin-top: -5px;
}


.features-items,
.features-items .items-box {
overflow: hidden;
}

.features-area .equal-height::after {
background: #e7e7e7 none repeat scroll 0 0;
content: "";
height: 100%;
position: absolute;
right: -1px;
top: 0;
width: 1px;
}



.features-area .features-items .col-md-5, 
.features-area .features-items .col-md-7 {
display: table-cell;
float: none;
vertical-align: middle;
}

.features-area .features-items.reversed .col-md-5, 
.features-area .features-items.reversed .col-md-7 {
display: inline-block;
float: left;
}

.features-area .features-items.reversed .info-box {
float: right;
}

.features-area .features-items .item {
padding: 15px 30px;
}

.features-area.item-full .features-items .item {
padding: 30px;
}

.features-area .features-items .item h4 {
position: relative;
}

.features-area.bottom-small {
padding-bottom: 25px;
}

.features-area.default-padding.bottom-none {
padding-bottom: 30px;
}

.features-area .item .icon {
margin-bottom: 20px;
}


.features-area .item .icon i {
background: #ffffff none repeat scroll 0 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
-moz-box-shadow: 0 0 10px #cccccc;
-webkit-box-shadow: 0 0 10px #cccccc;
-o-box-shadow: 0 0 10px #cccccc;
box-shadow: 0 0 10px #cccccc;
background: #6B1599;
background: linear-gradient(to right, #6B1599 19%, #FB9889 81%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
font-size: 30px;
height: 100px;
line-height: 100px;
position: relative;
text-align: center;
width: 100px;
z-index: 1;
}

.features-area .features-items .items-box i {
background: transparent;
}

.features-area .item .icon {
margin-bottom: 25px;
}

.features-area .features-items.icon-solid i {
border-radius: inherit;
-moz-box-shadow: 0 0 10px #cccccc;
-webkit-box-shadow: 0 0 10px #cccccc;
-o-box-shadow: 0 0 10px #cccccc;
box-shadow: 0 0 10px #cccccc;
color: #666666;
display: inline-block;
font-size: 50px;
height: 80px;
line-height: 80px;
position: relative;
text-align: center;
width: 80px;
}


.features-area .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}
.features-area .item .info p {
margin: 0;
}

.features-area .features-items.less-icon .items-box.inc-cell .item .info {
padding-left: 0;
}

.features-area .features-items .items-box.inc-cell .item .info a {
color: #666666;
display: inline-block;
margin-top: 15px;
text-transform: uppercase;
}

.features-area .features-items .items-box.inc-cell .item .info a:hover {
color: #666666;
}

/* Sloga */

#header h2{
    z-index: 2;
    position: relative;
   
  

} 
#header {
    height: 28rem;
    position: relative;
    background-image: -webkit-linear-gradient(left, rgba(107,21,153,1) 0%, rgba(251,152,137,1) 110%);
    background-image: -moz-linear-gradient(left,rgba(107,21,153,1) 0%, rgba(251,152,137,1) 110%);
    background-image: -o-linear-gradient(left, rgba(107,21,153,1) 0%, rgba(251,152,137,1) 110%);
    background-image: linear-gradient(to right,rgba(107,21,153,1) 0%, rgba(251,152,137,1) 110%);
}
#header:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url('../src/assets/img/headerimage3.jpg');
   
    background-repeat: no-repeat;
    background-position: center;
}