@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
 
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  color: #888888;
	height: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
}
a:hover {
	color: #b600e4 !important;
}






/* NavBar (copiado y pegado del proyecto anterior) */
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}
.navbar .active {
	color: #ffaf53 !important;
}

.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}
.navbar .nav-item a {
	color: #ffffff;
	font-weight: 300;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.nav-link{
	padding-right: 15px;
    padding-left: 15px;
    -webkit-transition: padding 400ms ease;
    transition: padding 400ms ease;
    font-family: 'Muli', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #fff;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.nav-scroll {
	background: #fff;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .navbar-nav > li > a {
	color: #333;
}
.nav-scroll .navbar-brand img {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: #333;
}
.nav-scroll .nav-link:hover:after {
	background-color: #2388ed;
}
.nav-scroll .active {
	position: relative;
}
.logo-img{
	width: 160px;
	height: auto;
}
/* Fin de NavBar */

/* Carrousel */
.carousel-item .header1 {
  opacity: 3; /* Opacidad de la imagen */
}
.carousel-text h1 {
  font-size: 4rem; /* Ajusta el tamaño de fuente según tus necesidades */
}

@media (max-width: 768px) {
  .carousel-text h1 {
    font-size: 2.1rem;
    text-align: center; 
    width: 130%; 
  }
}

@media (max-width: 576px) {
  .carousel-text h1 {
    font-size: 2.9rem;
    text-align: center; 
    width: 130%;  
  }
}
.carousel-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  text-align: left;
  color: white;
  width: 65%; 
}

.carousel-indicators {
  display: none;
}

.carousel-inner {
  border-bottom: none;
}



/* Footer (copiado y pegado del proyecto anterior) */
.vertical {
  border-left: 3px solid rgb(255, 255, 255);
  height: 200px;
  position:absolute;
 
}
.brand-top{
  width: 90px;
  height: auto;
}
.brand-footer{
  width: 60px;
  height: auto;
}

.footer-section{
 
  background: rgb(107,21,153);
  background: linear-gradient(90deg, rgb(107, 21, 153) 17%, rgba(251,152,137,1) 99%);
  padding-bottom: 6rem;
  padding-top: 3rem;
} 
.red-social{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
 margin-right: 1rem;
 margin-top: 1rem;
  overflow: clip;
  cursor:pointer;
}
/* Fin de Footer  */






/* Header subpaginas */
.header{
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.title-head{
  font-size: 60px;
  font-weight: bold;
}
.head{
padding: 0;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #fff;
text-align: center;
}
.contenedor{
width: 90% !important;
max-width: 1200px !important;
overflow: hidden !important;
margin: auto !important;
padding: 60px 0 !important;
}
/* Fin de Header subpaginas */





/* Header HomePage */
.header1{
  height: 96vh;
  display: inline-block;
 background-image:  linear-gradient(to top,  rgba(24, 26, 29, 0.404)0%,rgba(50, 24, 92, 0.404)100%),url(./assets/img/nft-car-girl-hOGKh5qHNAE-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.header2{
  height: 96vh;
  display: inline-block;
  background-image:  linear-gradient(to top, rgba(24, 26, 29, 0.404)0%,rgba(50, 24, 92, 0.404)100%),url(./assets/img/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.header3{
  height: 96vh;
  display: inline-block;
 background-image:  linear-gradient(to top, rgba(24, 26, 29, 0.404)0%,rgba(50, 24, 92, 0.404)100%),url(./assets/img/metadata.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.title-head{
  font-size: 60px;
  font-weight: bold;
}
.head{
padding: 0;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #fff;
text-align: center;
}
/* Fin Header HomePage */






/* ContactUs  */
.bg-section{
  background-color: #fafafa;
}
.contact_form{	
width: 460px; 
height: auto;
margin: 80px auto;
border-radius: 10px;  
padding-top: 17px;
padding-bottom: 3px;  
background-color: rgb(255, 255, 255); 
padding-left: 30px; 
-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.contact_form  {
  max-width: 100%;
}
.input{
  width: 30rem;
}

}

input{
background-color: #fbfbfb; 
width: 93%; 
height: 40px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #d8d8d8; 
margin-top: 1px;  
padding-left: 10px;
margin-bottom: 1px; 
}


textarea{
background-color: #fbfbfb; 
width: 93%; 
height: 150px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #d8d8d8; 
margin-top: 10px;  
padding-left: 10px;
margin-bottom: 20px; 
padding-top: 15px; 
}


label{
display: block; 
float: center; 	
}




span{
color: #df92fe; 
}


.aviso{
font-size: 13px;  
color: #0e0e0e;  
}

::-webkit-input-placeholder {
color: #a8a8a8;
}


::-webkit-textarea-placeholder {
color: #a8a8a8;
}


.formulario input:focus{
outline:0;
border: 1px solid #97d848;
}


.formulario textarea:focus{
outline:0;
border: 1px solid #97d848;
}

/* Fin ContactUs */



/* Que Hacemos */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
  padding: 60px 0;
}

.sec-title .title{
font-family: 'Lato', sans-serif;
position: relative;
display: block;
font-size: 25px;
line-height: 24px;
color: #df92fe;
font-weight: 600;
margin-bottom: 15px;
}

.sec-title h2{
font-family: 'Lato', sans-serif;
position: relative;
display: block;
font-size:40px;
line-height: 1.28em;
color: #222222;
font-weight: 600;
padding-bottom:18px;

}

.sec-title h2:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
width:50px;
height:3px;
background-color:#d1d2d6;
}


.sec-titlee .title{
  font-family: 'Lato', sans-serif;
  position: relative;
  display: block;
  font-size: 25px;
  line-height: 24px;
  color: #df92fe;
  font-weight: 600;
  margin-bottom: 15px;
  }

.sec-titlee h2{
  font-family: 'Lato', sans-serif;
  position: relative;
  display: block;
  font-size:40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom:18px;
  
  }
  
  .sec-titlee h2:before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #d1d2d6;
    }



.sec-title.light h2{
color: #ffffff;
}

.sec-title.text-center h2:before{
left:50%;
margin-left: -25px;
}

.about-section{
position: relative;
padding: 100px 0 70px;
}

.about-section .sec-title{
margin-bottom: 45px;
}

.about-section .content-column{
position: relative;
margin-bottom: 50px;
}

.about-section .content-column .inner-column{
position: relative;
padding-left: 30px;
}

.about-section .text-about{
margin-bottom: 40px;
font-size: 16px;
line-height: 26px;
color: #848484;
font-weight: 400;
}



.about-section .image-column{
position: relative;
}

.about-section .image-column .text-layer{
position: absolute;
right: -110px;
top: 50%;
font-size: 325px;
line-height: 1em;
color: #ffffff;
margin-top: -175px;
font-weight: 500;
}

.about-section .image-column .inner-column{
position: relative;
padding-left: 120px;
padding-bottom: 125px;
}

.about-section .image-column .inner-column:before{
position: absolute;
left: -75px;
top: 65px;
height: 520px;
width: 520px;
background-image:url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
content: "";
}

.about-section .image-column .image-1{
position: relative;
}

.about-section .image-column .image-2{
position: absolute;
left: 0;
bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img{
box-shadow: 0 30px 50px rgba(8,13,62,.15);
}

.about-section .image-column .video-link{
position: absolute;
left: 70px;
top: 170px;
}

.about-section .image-column .video-link .link{
position: relative;
display: block;
font-size: 22px;
color: #191e34;
font-weight: 400;
text-align: center;
height: 100px;
width: 100px;
line-height: 100px;
background-color: #ffffff;
border-radius: 50%;
box-shadow: 0 30px 50px rgba(8,13,62,.15);
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

.about-section .image-column .video-link .link:hover{
background-color: #191e34;
color: #fff;}


/* Como lo Hacemos */



/* Sloga */


#header {
  height: 30rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../src/assets/img/headerimage3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fija el fondo al desplazarse */
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#header h2 {
  color: #fff;
  font-size: 50px;
  /* Otros estilos que desees aplicar */
}




/* animation scroll */

 .scroll-link {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.3s ease;
}

.scroll-link:hover {
  opacity: 0.8;
} 


.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: calc(100% - 80px);
  bottom: 40px
  
}

.arrows path {
  fill: none;
  stroke: black;
  stroke-opacity: 0.5; /* Ajusta este valor según sea necesario */
  stroke-width: 2;
  stroke-linecap: round;
  animation: arrow 1s infinite ease-in-out;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
}



/* Float Red social */

.fl-fl {
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -140px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.icn {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-fb {
  top: 160px;
}

.float-tw {
  top: 215px;
}

.float-gp {
  top: 270px;
}

.float-rs {
  top: 325px;
}

.float-ig {
  top: 380px;
}

.float-pn {
  top: 435px;
}